<!-- ko with: info -->
<div class="jumbotron">
    <h2>@Resources.Language.MyInfo</h2>
    <div class="row">
        <p class="lead">@Resources.Language.CommerceData</p>
    </div>


    <div class="col-sm-2">
        <input type="text" disabled="disabled" class="form-control" data-bind="value: infoModel().Description()">
    </div>

    <div class="col-sm-2">
        <input type="text" disabled="disabled" class="form-control" data-bind="value: infoModel().CUIT()">
    </div>

    <div class="col-sm-2">
        <input type="text" disabled="disabled" class="form-control" data-bind="value: infoModel().Address()">
    </div>

</div>
